@media (max-width: 1200px) {
  .container {
    max-width: 688px;
    margin: 0 auto;
    padding: 0 10px 0;
  }
  /*NAV AND WELCOME*/
  nav {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    padding: 49px 0 43px;
  }

  .logo {
    position: relative;
    padding: 0.25px 0px;
    margin-left: 21px;
    margin-top: 49px;
  }

  .section-welcome {
    padding: 0;
  }

  .welcome-wrapper {
    padding: 43px 0 70px;
    margin-bottom: 41px;
    gap: 47px;
  }

  .welcome-img-box {
    order: 1;
  }

  .welcome-img {
    width: 280px;
  }

  .welcome-text {
    margin-top: 1px;
  }

  .welcome-heading {
    font-size: 35px;
    line-height: 50px;
    margin-bottom: 31px;
  }

  .welcome-descr {
    font-size: 16px;
    line-height: 25px;
    margin-left: 5px;
    margin-bottom: 35px;
  }

  .welcome-btn span {
    padding: 11px 25px;
  }

  /*ABOUT*/

  .section-about {
    padding: 0;
    padding-bottom: 93px;
  }

  .about-wrapper {
    flex-direction: column;
    gap: 68px;
    align-items: center;
  }

  .about-text {
    max-width: 100%;
    margin: 0;
  }

  .about-heading {
    text-align: center;
    margin-left: 103px;
    font-size: 35px;
    margin-bottom: 51px;
  }

  .about-img {
    width: 250px;
  }

  /*SERVICES*/

  .services-wrapper {
    padding: 60px 0 69.5px;
  }

  .services-content {
    flex-direction: column;
    gap: 13px;
    margin-bottom: 40px;
  }

  .services-heading {
    font-size: 35px;
    line-height: 46px;
    margin: 0;
  }

  .service-type {
    grid-template-columns: repeat(2, 1fr);

    column-gap: 107px;
    row-gap: 37.5px;
    margin-left: 1px;
  }

  .services-img {
    width: 280px;
  }

  .service-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .service-heading {
    margin: 0;
    padding: 8px 0;
  }

  .service-descr {
    max-width: 201px;
    padding-bottom: 19px;
  }

  /*PRICES*/

  .section-prices {
    padding-bottom: 81px;
  }

  .prices-heading {
    font-size: 35px;
    margin-left: 15px;
    margin-bottom: 58px;
  }

  .call-us {
    margin-top: 100px;
  }

  .call-us-heading {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 28px;
  }

  .call-us-btn {
    margin-bottom: 29px;
  }

  .call-us-leafs {
    margin-right: -10px;
  }

  /*CONTACTS*/

  .contacts-wrapper {
    flex-direction: column;
    align-items: center;
    padding-top: 33px;
    margin-bottom: 31px;
  }

  .contacts-img-box {
    order: 2;
    margin: 0;
    margin-left: 19px;
  }

  .contacts-img {
    max-width: 200px;
    padding: 0;
    margin: 0;
    margin-top: 13px;
  }

  .contacts-heading-box {
    margin-bottom: 99px;
  }

  .contacts-heading {
    margin: 0;
  }

  .contacts {
    margin-bottom: 177px;
  }

  .contacts.selected {
    margin-bottom: 216px;
  }

  .city-box {
    margin-top: 0;
    margin-bottom: 60px;
  }

  .city-box.selected {
    margin-top: -35px;
  }

  .contacts-container {
    top: 52px;
  }

  .contacts-container.selected {
    top: 12px;
  }

  .city-card {
    top: 73px;
  }

  /*FOOTER*/

  .footer-wrapper {
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 16px;
  }

  .copyright-box {
    margin: 0;
    gap: 22px;
    margin-left: -5px;
  }

  .rss-box {
    margin: 0;
    margin-bottom: 13px;
  }
}

@media (max-width: 680px) {
  .container {
    max-width: 350px;
  }

  body.lock {
    overflow: hidden;
  }

  /* button:hover {
    color: inherit;
    background-color: inherit;
  } */

  /*MOBILE MENU*/

  .nav-list {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    z-index: 5;
    position: fixed;
    top: 0;
    transform: translate(100%);
    right: 0;
    width: 100%;
    height: 100%;
    transition: all 0.25s;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .nav-list.active {
    transform: translateX(0);
  }

  .nav-item {
    padding: 12px 24px;
  }

  .burger-icon {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 40px;
    cursor: pointer;
    transform: scale(1);
  }

  .burger-icon.active span {
    transform: scale(0);
  }

  .burger-icon::after {
    top: -7px;
    transform: translateY(-50%);
  }

  .burger-icon.active::after {
    top: 50%;
    transform: rotate(-45deg) translateY(-50%);
  }

  .burger-icon::before {
    top: 15px;
    transform: translateY(50%);
  }

  .burger-icon.active::before {
    top: 50%;
    transform: rotate(45deg) translateY(50%);
  }

  .burger-line {
    width: 40px;
    height: 2px;
    background-color: #717171;
  }

  .burger-line,
  .burger-icon::after,
  .burger-icon::before {
    transition: all 0.25s;
  }

  .burger-icon::after,
  .burger-icon::before {
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #717171;
  }

  /*NAV*/

  nav {
    padding: 42px 0;
  }

  .logo {
    margin-left: 20px;
    margin-top: 40px;
  }

  /*WELCOME*/

  .welcome-wrapper {
    gap: 0;
    padding: 27px 0 24px;
    margin-bottom: 30px;
  }

  .welcome-img {
    display: none;
  }

  .welcome-heading {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 20px;
  }

  .welcome-descr {
    margin: 0;
    margin-bottom: 26px;
  }

  .welcome-btn span {
    font-size: 10px;
    padding: 9.5px 16px;
  }

  /*ABOUT*/

  .section-about {
    padding-bottom: 25px;
  }

  .about-wrapper {
    gap: 0;
  }

  .about-heading {
    margin: 0;
    font-size: 25px;
    line-height: 33px;
    margin-bottom: 13px;
  }

  .about-descr {
    font-size: 15px;
    line-height: 25px;
  }

  .about-img {
    width: 150px;
  }

  /*SERVICES*/

  .section-services {
    margin-bottom: 25px;
  }

  .services-wrapper {
    padding: 30px 0 27px;
  }

  .services-content {
    gap: 9px;
  }

  .services-heading {
    font-size: 25px;
    max-width: 187px;
    line-height: 33px;
  }

  .services-btns {
    gap: 10px;
  }

  .service-btn {
    font-size: 15px;
    width: 121px;
    height: 35px;
  }

  .service-type {
    grid-template-columns: 1fr;
    row-gap: 34.5px;
    justify-items: center;
  }

  .services-img {
    width: 279px;
    height: 349px;
  }

  .services-btns {
    flex-wrap: wrap;
  }

  /*PRICES*/

  .section-prices {
    flex-direction: column;
    padding-bottom: 11px;
  }

  .prices {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 19px;
  }

  .prices-heading {
    font-size: 25px;
    margin-left: 2px;
    margin-bottom: 37px;
  }

  .pricing {
    padding: 28px 21px;
    gap: 14px;
  }

  .prices-acc {
    width: 179px;
  }

  .acc-wrapper {
    max-width: 180px;
    padding: 0;
  }

  .visible {
    padding: 0 30px;
  }

  .price-rate {
    font-size: 15px;
  }

  .acc-content.active {
    padding: 0 20px;
  }

  .call-us {
    margin: 0;
    align-items: center;
  }

  .call-us-heading {
    font-size: 20px;
    text-align: center;
    max-width: 230px;
    margin-bottom: 20px;
  }

  .call-us-btn {
    font-size: 15px;
    padding: 7px 24px;
  }

  .call-us-leafs {
    display: none;
  }

  /*CONTACTS*/

  .contacts-wrapper {
    padding: 18px 0 17px;
    margin-bottom: 21px;
  }

  .contacts-heading-box {
    margin-left: -4px;
    margin-bottom: 0;
  }

  .contacts-heading {
    font-size: 25px;
    margin-bottom: 82px;
  }

  .contacts-img-box {
    margin-left: -5px;
  }

  .contacts-img {
    max-width: 100px;
    max-height: 125px;
    transition: all 0.5s;
  }

  .contacts-img.unactive {
    max-height: 0;
  }

  .contacts-container {
    top: 47px;
  }

  .contacts {
    width: 300px;
    margin-bottom: 68px;
  }

  .city-box {
    width: 300px;
    padding: 14px 22px 13px 18px;
    margin-bottom: 48px;
  }

  .city-card {
    margin-left: 7px;
    top: 61px;
    max-width: 282px;
  }

  .city-address-list {
    gap: 0;
    padding: 32px 35px 0;
    margin-bottom: 18px;
  }

  .address-city {
    margin: 0 0 20px 26px;
  }

  .address-phone {
    margin: 0 0 10px 8px;
  }

  .address-address {
    margin: 2px 0 0 -21px;
  }

  .call {
    margin: 0 0 22px 13px;
  }

  .btn-container {
    display: flex;
    justify-content: center;
  }

  /*FOOTER*/

  .rss-box {
    margin: 0;
  }
} ;
